/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2022, 3:32:03 PM
    Author     : Equipo
*/

/*significa que le aplica estas reglas a todo*/
*{
    margin: 0;
    padding:0;
}


.container{
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.png);
    background-position:center;
    background-size: cover;
    background-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}


.nav{
    height: 15vh;
    width: 100%;
    margin:auto;
    display:flex;      /*como se compartan esos elementos   */
    align-items: center;
}


.logo{
    width: 160px;
    cursor: pointer;
}

/*si tenemos ya una tiquete entonces podemos hacer los cambios a ella de la siguiente manera*/
nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display:inline-block;/*para que el contenido se despliague*/
    list-style: none; /*para que no sea vea los puntos de la lista*/
    margin: 0px 20px;
}

nav ul li a{
    text-decoration: none;
    color:darkorange; 
}


.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-bottom:15px;
    color: darksalmon;
}


.content p{
    font-size: 20px;
    color:blueviolet;
}

.feature-img{
    height: 50%;
    position: absolute;
    bottom:50px;
    right: 160px;
}